.conteiner {
  display: flex;
  flex-direction: column;
}

.label {
  text-transform: uppercase;
  font-weight: 700;
}

.input {
  padding: 5px;
  width: 300px;
}

.btn {
  padding: 5px;
  text-transform: uppercase;
  background-color: green;
  border: 2px solid green;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  font-weight: bold;
}

.text {
  color: green;
}
