.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.scrollButton:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
